/* Stile generale del sito */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    color: #fff;
    background-color: #333;
}

/* Stile della navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode .navbar {
    background-color: #333;
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: transparent;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.dark-mode .navbar ul li a {
    color: #fff;
}

.dark-mode-toggle button {
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dark-mode-toggle .sun-icon,
.dark-mode-toggle .moon-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: fill 0.3s ease-in-out;
}

.dark-mode .dark-mode-toggle .sun-icon {
    fill: #fff;
}

/* Stile delle icone */
.sun-icon {
    filter: invert(71%) sepia(66%) saturate(750%) hue-rotate(351deg) brightness(102%) contrast(105%);
}

.moon-icon {
    filter: invert(98%) sepia(2%) saturate(1488%) hue-rotate(169deg) brightness(90%) contrast(91%);
}

.dark-mode .sun-icon {
    filter: invert(73%) sepia(90%) saturate(1222%) hue-rotate(354deg) brightness(101%) contrast(101%);
}

.dark-mode .moon-icon {
    filter: invert(93%) sepia(13%) saturate(117%) hue-rotate(153deg) brightness(91%) contrast(91%);
}

/* Stile delle sezioni */
section {
    background-color: #fff;
    color: #333;
    padding: 50px 20px;
}

section h2 {
    margin-top: 0;
    color: #333;
}

.dark-mode section {
    background-color: #333;
    color: #fff;
}

.dark-mode section h2 {
    color: #fff;
}

/* Stile delle immagini */
img {
    max-width: 100%;
}

/* Stile dei social */
#social ul {
    display: flex;
}

#social ul li {
    margin-right: 10px;
}

#social ul li a {
    color: #333;
    text-decoration: none;
}

.dark-mode #social ul li a {
    color: #fff;
}

#footer {
    text-align: right;
    padding: 5px 10px;

}